@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
body[data-theme='dark'] {
   --body-bg: #18181b;
   --text-h1: #f3b300;
   --text-p: #fff;
   --text-span: #fff;
   --main-color: #f3b300;
   --bg-extra: #27272a;
   --text-extra: #222222;
   --text-medium: #9ca3af;
   --icons-color: #fff
}
body[data-theme='light'] {
   --body-bg: #fff;
   --text-h1: #73B625;
   --text-p: #666666;
   --text-span: #666666;
   --main-color: #73B625;
   --bg-extra: #eeeeee;
   --text-extra: #EEF0F0;
   --text-medium: #868686;
   --icons-color: #fff
}
body {
   background-color: var(--body-bg);
}
::-webkit-scrollbar {
   width: 5px;
}
::-webkit-scrollbar-thumb {
   background: var(--main-color);
   border-radius: 10px;
}

.hide-scrollbar {
   &::-webkit-scrollbar {
      display: none;
   }
}
// Layout
.layout {
   .dark-light {
      cursor: pointer;
      transition: all .3s ease;
      z-index: 9999;
      &:hover {
         opacity: 0.7;
      }
      @media screen and (max-width: 1024px) {
         bottom: 100%;
      }
   }
   .nav {
      @media screen and (max-width: 1024px) {
         background-color: var(--text-extra);
      }
      .nav-list {
         display: flex;
         align-items: center;
         background-color: var(--bg-extra);
         border-radius: 50%;
         position: relative;
         transition: all 0.3s ease;
         &.active {
            background-color: var(--main-color) !important;
         }
         .nav-icons {
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.3s ease;
            color: var(--text-p);
         }
         .nav-content {
            color: white;
            font-size: 16px;
            font-weight: 500;
            position: absolute;
            text-align: center;
            z-index: -1;
            right: 0;
            line-height: 56px;
            padding: 0 30px;
            opacity: 0;
            height: 56px;
            border-radius: 30px;
            background-color: var(--main-color);
            min-width: 120px;
            transition: all 0.3s ease;
         }
         &:hover {
            background-color: var(--main-color);
         }
         &:hover .nav-content {
            opacity: 1;
            right: 28px;
            border-radius: 30px 0 0 30px;
         }
      }
   }
}
// HomePage
.session-home {
   h1 {
      font-family: 'Poppins', sans-serif;
      color: var(--main-color);
      span {
         color: var(--text-span);
      }
   }
   p {
      font-family: 'Open Sans', sans-serif;
      line-height: 2;
      color: var(--text-p);
   }
}
.color-block {
   background-color: var(--main-color);
   position: fixed;
   top: 0;
   left: 0;
   clip-path: polygon(0 0, 43% 0, 69% 100%, 0% 100%);
   width: 33.33333%;
   height: 100%;
   max-height: 100vh;
}
.slide-animate {
   position: fixed;
   z-index: 999999;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: black;
   animation: slide 0.5s cubic-bezier(1, -0.01, 0.64, 1.02) forwards;
}
@keyframes slide {
   0% {
      top: 0;
      opacity: 1;
   }
   99% {
      top: 99%;
      opacity: 1;
   }
   100% {
      top: 100%;
      opacity: 0;
      display: none;
   }
}
// Button
.btn-link {
   position: relative;
   width: fit-content;
   display: flex;
   align-items: center;
   color: var(--text-p);
   border: 1px solid var(--main-color);
   border-radius: 30px;
   .icon {
      font-size: 20px;
      width: 50px;
      height: 50px;
      background-color: var(--main-color);
      color: var(--icons-color);
      border-radius: 30px;
      transition: all 0.3s ease;
      position: absolute;
      left: 0;
      .animate {
         animation: tada 10s ease infinite;
      }
      @keyframes tada {
         2% {
            transform: translate(0, 1.5px) rotate(1.5deg);
         }
         4% {
            transform: translate(0, -1.5px) rotate(-0.5deg);
         }
         6% {
            transform: translate(0, 1.5px) rotate(-1.5deg);
         }
         8% {
            transform: translate(0, -1.5px) rotate(-1.5deg);
         }
         10% {
            transform: translate(0, 2.5px) rotate(1.5deg);
         }
         12% {
            transform: translate(0, -0.5px) rotate(1.5deg);
         }
         14% {
            transform: translate(0, -1.5px) rotate(1.5deg);
         }
         16% {
            transform: translate(0, -0.5px) rotate(-1.5deg);
         }
         18% {
            transform: translate(0, 0.5px) rotate(-1.5deg);
         }
         20% {
            transform: translate(0, -1.5px) rotate(2.5deg);
         }
         22% {
            transform: translate(0, 0.5px) rotate(-1.5deg);
         }
         24% {
            transform: translate(0, 1.5px) rotate(1.5deg);
         }
         26% {
            transform: translate(0, 0.5px) rotate(0.5deg);
         }
         28% {
            transform: translate(0, 0.5px) rotate(1.5deg);
         }
         30% {
            transform: translate(0, -0.5px) rotate(2.5deg);
         }
         32% {
            transform: translate(0, 1.5px) rotate(-0.5deg);
         }
         34% {
            transform: translate(0, 1.5px) rotate(-0.5deg);
         }
         36% {
            transform: translate(0, -1.5px) rotate(2.5deg);
         }
         38% {
            transform: translate(0, 1.5px) rotate(-1.5deg);
         }
         40% {
            transform: translate(0, -0.5px) rotate(2.5deg);
         }
         42% {
            transform: translate(0, 2.5px) rotate(-1.5deg);
         }
         44% {
            transform: translate(0, 1.5px) rotate(0.5deg);
         }
         46% {
            transform: translate(0, -1.5px) rotate(2.5deg);
         }
         48% {
            transform: translate(0, -0.5px) rotate(0.5deg);
         }
         50% {
            transform: translate(0, 0.5px) rotate(0.5deg);
         }
         52% {
            transform: translate(0, 2.5px) rotate(2.5deg);
         }
         54% {
            transform: translate(0, -1.5px) rotate(1.5deg);
         }
         56% {
            transform: translate(0, 2.5px) rotate(2.5deg);
         }
         58% {
            transform: translate(0, 0.5px) rotate(2.5deg);
         }
         60% {
            transform: translate(0, 2.5px) rotate(2.5deg);
         }
         62% {
            transform: translate(0, -0.5px) rotate(2.5deg);
         }
         64% {
            transform: translate(0, -0.5px) rotate(1.5deg);
         }
         66% {
            transform: translate(0, 1.5px) rotate(-0.5deg);
         }
         68% {
            transform: translate(0, -1.5px) rotate(-0.5deg);
         }
         70% {
            transform: translate(0, 1.5px) rotate(0.5deg);
         }
         72% {
            transform: translate(0, 2.5px) rotate(1.5deg);
         }
         74% {
            transform: translate(0, -0.5px) rotate(0.5deg);
         }
         76% {
            transform: translate(0, -0.5px) rotate(2.5deg);
         }
         78% {
            transform: translate(0, -0.5px) rotate(1.5deg);
         }
         80% {
            transform: translate(0, 1.5px) rotate(1.5deg);
         }
         82% {
            transform: translate(0, -0.5px) rotate(0.5deg);
         }
         84% {
            transform: translate(0, 1.5px) rotate(2.5deg);
         }
         86% {
            transform: translate(0, -1.5px) rotate(-1.5deg);
         }
         88% {
            transform: translate(0, -0.5px) rotate(2.5deg);
         }
         90% {
            transform: translate(0, 2.5px) rotate(-0.5deg);
         }
         92% {
            transform: translate(0, 0.5px) rotate(-0.5deg);
         }
         94% {
            transform: translate(0, 2.5px) rotate(0.5deg);
         }
         96% {
            transform: translate(0, -0.5px) rotate(1.5deg);
         }
         98% {
            transform: translate(0, -1.5px) rotate(-0.5deg);
         }
         0%,
         100% {
            transform: translate(0, 0) rotate(0);
         }
      }
      @media screen and (max-width: 640px) {
         width: 40px;
         height: 40px;
      }
   }
   .content {
      font-size: 15px;
      text-transform: uppercase;
      position: relative;
      height: 50px;
      line-height: 50px;
      padding-left: 60px;
      padding-right: 20px;
      transition: all 0.3s ease;
      color: var(--text-p);
      @media screen and (max-width: 640px) {
         font-size: 12px;
         height: 40px;
         line-height: 40px;
      }
   }
   &:hover .icon {
      width: 100%;
   }
   &:hover .content {
      transform: translateX(-30px);
   }
}
// Portfolio Page
.text-header {
   font-family: 'Poppins', sans-serif;
   position: relative;
   .text-inline {
      position: relative;
      z-index: 1;
      font-weight: 800;
      .first {
         color: var(--text-span);
      }
      .second {
         color: var(--main-color);
      }
   }
   .text-outline {
      position: absolute;
      top: 50%;
      left: 50%;
      font-weight: 900;
      transform: translate(-50%, -50%);
      color: var(--text-extra);
   }
}
.filter {
   color: var(--text-p);
   button {
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 700;
      background-color: var(--bg-extra);
      &.active {
         background-color: var(--main-color);
      }
      &:hover {
         background-color: var(--main-color);
      }
   }
}
.container-items {
   .item {
      transform: translateX(-100px);
      opacity: 0;
      animation: fade-right 0.3s ease forwards;
      @for $i from 1 to 5 {
         &:nth-child(#{$i}) {
            animation-delay: #{math.div($i, 5)}s;
         }
      }
      .item-bg {
         position: absolute;
         width: 100%;
         height: 100%;
         border-radius: 8px;
         background-color: rgba(0, 0, 0, 0.7);
         bottom: 0;
         left: 0;
         opacity: 0;
         transition: all 0.3s ease;
         .item-name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            opacity: 0;
            transition: all 0.3s ease;
         }
      }
      &:hover .item-name {
         opacity: 1;
         transform: translate(-50%, -50%);
         cursor: pointer;
      }
      &:hover {
         cursor: pointer;
      }
      &:hover .item-bg {
         opacity: 1;
      }
   }
}
@keyframes fade-right {
   to {
      transform: translateX(0);
      opacity: 1;
   }
}

// Modal
.modal {
   background-color: rgba(0, 0, 0, 0.7);
   .container-modal {
      font-family: 'Poppins', sans-serif;
      h3 {
         color: var(--main-color);
      }
      .br {
         position: relative;
         width: 100%;
         height: 3px;
         background-color: #ccc;
         &::after {
            content: '';
            left: 0;
            bottom: 0;
            position: absolute;
            height: 6px;
            border-radius: 3px;
            background-color: var(--main-color);
            width: 80px;
         }
      }
      .icon {
         color: var(--main-color);
      }
      p {
         color: var(--text-p);
         span {
            color: var(--main-color);
         }
      }
   }
}
// About Page
.info {
   width: 110%;
   @media screen and (max-width: 1280px) {
      width: 100%;
   }
   @media screen and (max-width: 768px) {
      flex-direction: column;
   }
   h3 {
      font-family: 'Poppins', sans-serif;
      color: var(--text-p);
   }
   ul {
      li {
         color: var(--text-p);
         span {
            color: var(--text-medium);
         }
      }
   }
   .items-right {
      color: var(--text-medium);
      .item {
         padding: 20px 30px 25px 40px;
         border: 1px solid var(--bg-extra);
         font-weight: 500;
         h4,
         span {
            color: var(--main-color);
         }
         h3 {
            span {
               background-color: var(--text-medium);
            }
         }
         @media screen and (max-width: 500px) {
            padding: 10px 15px 15px 20px;
         }
         span {
            margin-top: -5px;
         }
      }
   }
}
.skills {
   h3 {
      font-family: 'Poppins', sans-serif;
      color: var(--text-p);
   }
   span {
      background-color: var(--bg-extra);
   }
}
.education {
   h3 {
      color: var(--text-p);
   }
   .resume {
      .icons {
         background-color: var(--main-color);
         color: var(--icons-color);
      }
      .content-education {
         &::after {
            background-color: var(--bg-extra);
         }
         p {
            background-color: var(--bg-extra);
         }
         h3,
         h2,
         p {
            color: var(--text-p);
         }
         span {
            color: var(--text-medium);
         }
      }
   }
   .content-education {
      line-height: 1.8;
      &::after {
         content: '';
         position: absolute;
         width: 1px;
         height: 100%;
         left: 18px;
      }
      p {
         font-size: 12px;
      }
   }
}
// contact-page
.contact-container {
   color: var(--text-p);
   .left {
      h3 {
         font-family: 'Poppins', sans-serif;
      }
      ul {
         li {
            color: var(--text-p);
            span {
               color: var(--main-color);
            }
            h3 {
               span {
                  color: var(--text-medium);
               }
            }
            &:last-child {
               a {
                  background-color: var(--bg-extra);
               }
            }
         }
      }
   }
}

// Form
.form {
   input,
   textarea {
      outline: none;
      background-color: var(--bg-extra);
      border: 1px solid var(--bg-extra);
      &:focus {
         border: 1px solid var(--main-color);
         transition: all 0.3s ease;
      }
      &::placeholder {
         text-transform: uppercase;
         font-size: 14px;
         font-weight: 400;
      }
   }
}
// modal contact
.modal-contact {
   background-color: rgba(0, 0, 0, 0.8);
   .modal-container {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      h3, p {
         color: black;
      }
      button {
         color: black;
         border-color: var(--main-color);
         &:hover {
            background-color: var(--main-color);
         }
      }
   }

}
.loading-contact {
   background-color: var(--main-color);
}
